#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://github.com/grafana/loki/blob/master/docs/clients/promtail/configuration.md
server:
  http_listen_port: 9080

positions:
  filename: "{{ promtail_positions_directory }}/positions.yml"

clients:
  - url: "{{ promtail_loki_server_url }}/loki/api/v1/push"
    basic_auth:
      username: {{ lokiUsername }}
      password: {{ lokiPassword }}

scrape_configs:
  - job_name: system
    static_configs:
    - targets:
        - localhost
      labels:
        job: varlogs
        host: {{ ansible_hostname }}
        __path__: /var/log/syslog
